<<<<<<< HEAD
.directory-menu {
    font-family: 'Comic Sans MS';
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.directory-menu:hover {
    
}
=======
.directory-menu {
  width: 85vw;
  margin: 20 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}
>>>>>>> 0a38acee97dece569a97c76405b1b5ff5e145d6c
