.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto auto 10pt;

    .option {
      position:absolute;
      right:50px;
    }
  }
}
