
.about-us {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 100px;

    .background-image{
      background-repeat: no-repeat;
      background-size:contain;
      display:block;
      opacity: 1;

      .content-text {
        width: 40%;
        height: 100%;
        margin: 100pt 100pt;
        text-align:center;
        border:beige;
        opacity: 1;
        float: left;
        font-size: 20px;
        color: #F5F5F5;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
          transition: transform 4s
        }

      }
    }





  }
