
.about-us {
    height: 120px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 200px;
    padding: 100px;
    
    .content-text {
      float: left;
      font-weight: bold;
      font-size: 30px;
      color: #4a4a4a;
    }

    .gallery{
      width: 25vw;
      margin: 20 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 100px;

      
      .cover {
        margin: 50px 100px;
        display: center;
        opacity: 0.5;
  
        &:hover {
          opacity: 1;
        }
      }

    }
    
  }